body {
    font-family: Arial, sans-serif;
    background-color:aqua;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: pink;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

#output {
    margin-top: 20px;
    text-align: left;
}

pre {
    background: #e7e7e7;
    padding: 25px;
    border-radius: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
